@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Eudoxus Sans';
  scroll-behavior: smooth;
}

a:hover,
button:hover {
  opacity: 0.75;
}

span.swiper-pagination-bullet {
  background-color: #ffa20033;
  opacity: 0.75;
  transition: all 1s;

  border-radius: 20px !important;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ffb23f;

  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  right: 10px;
  padding: 30px;
  color: #ffb23f !important;
  fill: #ffb23f !important;
  stroke: #ffb23f !important;
}
